standard/Approval/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "triggers": {
      "When_an_approval_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "requestId": { "type": "string" },
              "requester": { "type": "string" },
              "amount": { "type": "number" },
              "description": { "type": "string" }
            },
            "required": ["requestId", "requester", "amount"]
          }
        }
      }
    },
    "actions": {
      "Initialize_approverEmail": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            { "name": "approverEmail", "type": "string", "value": "approver@contoso.com" }
          ]
        },
        "runAfter": {}
      },
      "Initialize_threshold": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            { "name": "threshold", "type": "integer", "value": 1000 }
          ]
        },
        "runAfter": { "Initialize_approverEmail": ["Succeeded"] }
      },
      "Condition_threshold": {
        "type": "If",
        "expression": {
          "and": [
            { "greater": ["@triggerBody()?['amount']", "@variables('threshold')"] }
          ]
        },
        "actions": {
          "Send_approval_email": {
            "type": "ApiConnectionWebhook",
            "inputs": {
              "host": {
                "connection": {
                  "referenceName": "office365"
                }
              },
              "path": "/approvalmail/$subscriptions",
              "body": {
                "NotificationUrl": "@{listCallbackUrl()}",
                "Message": {
                  "To": "@variables('approverEmail')",
                  "Subject": "Approval needed for request @{triggerBody()?['requestId']}",
                  "Options": "Approve, Reject",
                  "Body": "Requester: @{triggerBody()?['requester']}\nAmount: @{triggerBody()?['amount']}\nDescription: @{triggerBody()?['description']}"
                }
              },
              "retryPolicy": {
                "type": "exponential",
                "count": 4,
                "interval": "PT10S"
              }
            },
            "runAfter": {}
          },
          "Condition_approved": {
            "type": "If",
            "expression": {
              "and": [
                { "equals": ["@body('Send_approval_email')?['SelectedOption']", "Approve"] }
              ]
            },
            "actions": {
              "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "requestId": "@triggerBody()?['requestId']",
                    "status": "approved",
                    "message": "Request approved"
                  }
                },
                "runAfter": {}
              }
            },
            "else": {
              "actions": {
                "Response_rejected": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "requestId": "@triggerBody()?['requestId']",
                      "status": "rejected",
                      "message": "Request rejected"
                    }
                  },
                  "runAfter": {}
                }
              }
            },
            "runAfter": { "Send_approval_email": ["Succeeded"] }
          }
        },
        "else": {
          "actions": {
            "Response_auto_approved": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "requestId": "@triggerBody()?['requestId']",
                  "status": "auto-approved",
                  "message": "Request auto-approved (below threshold)"
                }
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": { "Initialize_threshold": ["Succeeded"] }
      }
    },
    "outputs": {}
  },
  "kind": "Stateful"
}
