standard/Approval/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "approverEmail":            { "type": "String", "defaultValue": "approver@contoso.com" },
      "threshold":                { "type": "Int",    "defaultValue": 1000 },
      "escalationApproverEmail":  { "type": "String", "defaultValue": "escalation@contoso.com" },
      "escalationThreshold":      { "type": "Int",    "defaultValue": 10000 }
    },
    "triggers": {
      "When_an_approval_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "requestId":   { "type": "string" },
              "requester":   { "type": "string" },
              "amount":      { "type": "number" },
              "description": { "type": "string" }
            },
            "required": [ "requestId", "requester", "amount" ]
          }
        }
      }
    },
    "actions": {
      "RequestApproval": {
        "type": "Scope",
        "actions": {
          "Check_escalation_threshold": {
            "type": "If",
            "expression": {
              "and": [
                { "greater": [ "@triggerBody()?['amount']", "@parameters('escalationThreshold')" ] }
              ]
            },
            "actions": {
              "Send_escalation_email": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                  "host": {
                    "connection": { "referenceName": "office365" }
                  },
                  "path": "/approvalmail/$subscriptions",
                  "body": {
                    "NotificationUrl": "@{listCallbackUrl()}",
                    "Message": {
                      "To": "@parameters('escalationApproverEmail')",
                      "Subject": "ESCALATION: high-value approval needed for @{triggerBody()?['requestId']}",
                      "Options": "Approve, Reject",
                      "Body": "Requester: @{triggerBody()?['requester']}\nAmount: @{triggerBody()?['amount']}\nDescription: @{triggerBody()?['description']}"
                    }
                  },
                  "retryPolicy": {
                    "type": "exponential",
                    "count": 4,
                    "interval": "PT10S"
                  }
                },
                "runAfter": {}
              },
              "Switch_on_escalation_response": {
                "type": "Switch",
                "expression": "@body('Send_escalation_email')?['SelectedOption']",
                "cases": {
                  "Approve": { "case": "Approve", "actions": {} },
                  "Reject": {
                    "case": "Reject",
                    "actions": {
                      "Respond_escalation_denied": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 403,
                          "body": {
                            "requestId": "@triggerBody()?['requestId']",
                            "status": "escalation-denied"
                          }
                        },
                        "runAfter": {}
                      },
                      "Terminate_after_escalation_denied": {
                        "type": "Terminate",
                        "inputs": { "runStatus": "Cancelled" },
                        "runAfter": { "Respond_escalation_denied": [ "Succeeded" ] }
                      }
                    }
                  }
                },
                "default": { "actions": {} },
                "runAfter": { "Send_escalation_email": [ "Succeeded" ] }
              }
            },
            "else": { "actions": {} },
            "runAfter": {}
          },
          "Check_amount_against_threshold": {
            "type": "If",
            "expression": {
              "and": [
                { "greater": [ "@triggerBody()?['amount']", "@parameters('threshold')" ] }
              ]
            },
            "actions": {
              "Send_approval_email": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                  "host": {
                    "connection": { "referenceName": "office365" }
                  },
                  "path": "/approvalmail/$subscriptions",
                  "body": {
                    "NotificationUrl": "@{listCallbackUrl()}",
                    "Message": {
                      "To": "@parameters('approverEmail')",
                      "Subject": "Approval needed for request @{triggerBody()?['requestId']}",
                      "Options": "Approve, Reject",
                      "Body": "Requester: @{triggerBody()?['requester']}\nAmount: @{triggerBody()?['amount']}\nDescription: @{triggerBody()?['description']}"
                    }
                  },
                  "retryPolicy": {
                    "type": "exponential",
                    "count": 4,
                    "interval": "PT10S"
                  }
                },
                "runAfter": {}
              },
              "Switch_on_approver_response": {
                "type": "Switch",
                "expression": "@body('Send_approval_email')?['SelectedOption']",
                "cases": {
                  "Approve": {
                    "case": "Approve",
                    "actions": {
                      "Respond_approved": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "body": {
                            "requestId": "@triggerBody()?['requestId']",
                            "status": "approved"
                          }
                        },
                        "runAfter": {}
                      }
                    }
                  },
                  "Reject": {
                    "case": "Reject",
                    "actions": {
                      "Respond_rejected": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "body": {
                            "requestId": "@triggerBody()?['requestId']",
                            "status": "rejected"
                          }
                        },
                        "runAfter": {}
                      }
                    }
                  }
                },
                "default": { "actions": {} },
                "runAfter": { "Send_approval_email": [ "Succeeded" ] }
              }
            },
            "else": {
              "actions": {
                "Respond_auto_approved": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "requestId": "@triggerBody()?['requestId']",
                      "status": "auto-approved"
                    }
                  },
                  "runAfter": {}
                }
              }
            },
            "runAfter": { "Check_escalation_threshold": [ "Succeeded" ] }
          }
        },
        "runAfter": {}
      },
      "HandleFailure": {
        "type": "Scope",
        "actions": {
          "Dead_letter_post": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://example.com/dead-letter",
              "headers": { "Content-Type": "application/json" },
              "body": {
                "runId": "@{workflow().run.id}",
                "workflowName": "@{workflow().name}",
                "trigger": "@triggerBody()"
              }
            },
            "runAfter": {}
          },
          "Respond_502": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 502,
              "body": {
                "requestId": "@triggerBody()?['requestId']",
                "status": "approval-failed",
                "runId": "@{workflow().run.id}"
              }
            },
            "runAfter": { "Dead_letter_post": [ "Succeeded", "Failed", "TimedOut" ] }
          }
        },
        "runAfter": { "RequestApproval": [ "Failed", "TimedOut" ] }
      }
    },
    "outputs": {}
  },
  "kind": "Stateful"
}
