infra/workflows/approval.workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  },
  "triggers": {
    "When_an_approval_request_is_received": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "requestId":   { "type": "string" },
            "requester":   { "type": "string" },
            "amount":      { "type": "number" },
            "description": { "type": "string" }
          },
          "required": [ "requestId", "requester", "amount" ]
        }
      }
    }
  },
  "actions": {
    "Initialize_approverEmail": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          { "name": "approverEmail", "type": "string", "value": "approver@contoso.com" }
        ]
      },
      "runAfter": {}
    },
    "Initialize_threshold": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          { "name": "threshold", "type": "integer", "value": 1000 }
        ]
      },
      "runAfter": { "Initialize_approverEmail": [ "Succeeded" ] }
    },
    "Check_amount_against_threshold": {
      "type": "If",
      "expression": {
        "and": [
          { "greater": [ "@triggerBody()?['amount']", "@variables('threshold')" ] }
        ]
      },
      "actions": {
        "Send_approval_email": {
          "type": "ApiConnectionWebhook",
          "inputs": {
            "host": {
              "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
            },
            "path": "/approvalmail/$subscriptions",
            "body": {
              "NotificationUrl": "@{listCallbackUrl()}",
              "Message": {
                "To": "@variables('approverEmail')",
                "Subject": "Approval needed for request @{triggerBody()?['requestId']}",
                "Options": "Approve, Reject",
                "Body": "Requester: @{triggerBody()?['requester']}\nAmount: @{triggerBody()?['amount']}\nDescription: @{triggerBody()?['description']}"
              }
            }
          },
          "runAfter": {}
        },
        "Switch_on_approver_response": {
          "type": "Switch",
          "expression": "@body('Send_approval_email')?['SelectedOption']",
          "cases": {
            "Approve": {
              "case": "Approve",
              "actions": {
                "Respond_approved": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "requestId": "@triggerBody()?['requestId']",
                      "status": "approved"
                    }
                  },
                  "runAfter": {}
                }
              }
            },
            "Reject": {
              "case": "Reject",
              "actions": {
                "Respond_rejected": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "requestId": "@triggerBody()?['requestId']",
                      "status": "rejected"
                    }
                  },
                  "runAfter": {}
                }
              }
            }
          },
          "default": { "actions": {} },
          "runAfter": { "Send_approval_email": [ "Succeeded" ] }
        }
      },
      "else": {
        "actions": {
          "Respond_auto_approved": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 200,
              "body": {
                "requestId": "@triggerBody()?['requestId']",
                "status": "auto-approved"
              }
            },
            "runAfter": {}
          }
        }
      },
      "runAfter": { "Initialize_threshold": [ "Succeeded" ] }
    }
  },
  "outputs": {}
}
